<h3>Agregar</h3>
<hr>
<form (ngSubmit)="addform()">
	<form class="example-form">
		<mat-form-field class="example-full-width">
			<mat-label>Nombre</mat-label>
			<input matInput placeholder="Nombre" name="name" [(ngModel)]="new.name">
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<mat-label>Poder</mat-label>
			<input matInput placeholder="Poder" name="power" [(ngModel)]="new.power">
		</mat-form-field>
	</form>
	<button mat-raised-button color="primary" type="submit">Agregar</button>
</form>