<h1>Dragon ball Z</h1>
<hr>

<div class="row">

    <div class="col">
        <!-- INPUT  -->
        <app-character></app-character>
    </div>

    <div class="col">
        <app-add [new]="new"></app-add>
    </div>

</div>