<p>Listado de Heroes</p>

<div *ngIf="heroeDeleted; else noBorrado">
    <h3>Heroe Borrado: <small>{{heroeDeleted}}</small></h3>
</div>

<ng-template #noBorrado>
    No ha borrado nada
</ng-template>

<br><br>

<button (click)="deletedHero()">
    Borrar Heroe
</button>

<ul>
    <li *ngFor="let hero of heroes; let i = index;">
        {{ i + 1 }}-{{ hero }}
    </li>
</ul>

