@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {

  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

html, body {
  
  background: white;
  margin: 20px;
  color: #3e4144;
  -webkit-font-smoothing: antialiased;
}


dd {
  font-weight: bold;
}

button {
  background-color: black;
  border-radius: 5px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #3e4144;
}

button:focus{ 
  outline: none;
}

.p-1 {
  padding: 1px;
}

.row {
  display: flex;

}
.col {
  flex-grow: 1;
  margin-right: 10px;
}

input {
  display: block;
  margin:5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
